@import "tailwindcss";

@theme {
  /* Escala neutra oscura principal */
  --color-surface-50:  #f7f7f8;
  --color-surface-100: #f0eef0;
  --color-surface-200: #dcd9de;
  --color-surface-300: #beb8c1;
  --color-surface-400: #99919f;
  --color-surface-500: #7d7483;
  --color-surface-600: #665d6c;
  --color-surface-700: #544c58;
  --color-surface-800: #48414b;
  --color-surface-900: #353137;
  --color-surface-950: #29262b;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-surface-950);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0;
  margin: 0;
}
